* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

body {
  background-color: #f5f5f5;
}

.bg-ccs {
  background-color: #002776;
}

/* this holds my name */
/* shorthand is: 1% padding applied to top, right & bottom; left has 2% padding */
/* .navbar-brand {
  text-transform: uppercase;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: bold;
  font-size: 1.75vw;
  padding: 1% 1% 1% 1%;
  background-color: #084e8c;
  color: #ffffff !important;
  border-radius: 25px;
  margin-left: 50px;
  text-align: center;
} */

.navbar-brand {
  margin-left: 50px;
}

#navbarNav {
  margin-right: 50px;
}

#navbarNav li a {
  color: #106aa5;
  font-weight: bold;
  font-size: 1.3vw;
  text-decoration: underline;
  font-family: "Baloo Chettan 2", cursive;
  padding-right: 35px;
}

#navbarNav li a:hover {
  color: #fff;
}

#navbarNav li a.active {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-size: 1.2rem;
  margin: 0.67rem 0;
  color: #ffffff;
}

main {
  min-height: 110vh;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.snippet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px 80px;
  border: #002776 2px solid;
  border-radius: 15px;
  background-color: #e89e9e;
  flex: 0 0 320px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.snippet-heading {
  width: 90%;
  position: relative;
  top: -40px;
  padding: 10px;
  border: #f5f5f5 3px solid;
  border-radius: 15px;
  background-color: #002776;
  color: #ffffff;
}

.snippet-description,
.snippet-code {
  width: 90%;
  padding: 10px;
}

.snippet-button {
  border-color: #002776;
  background-color: #106aa5;
}

.portfolio-info {
  text-align: center;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.footer {
  left: 0;
  bottom: 0;
  color: gray;
  font-size: 0.8em;
  text-align: center;
  margin-top: 100px;
}

/* squeezed desktop */
@media screen and (max-width: 1400px) {
  .navbar-brand {
    width: 60%;
    margin-left: 5px;
  }
}
/* iPad Pro */
@media screen and (max-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
  .bg-ccs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-brand {
    width: 40%;
    margin-left: 5px;
    object-fit: contain;
  }
  #navbarNav {
    margin-right: 5px;
    background-color: #002776;
  }
  #navbarNav li a {
    font-size: 1.8vw;
  }
  .footer {
    padding-top: 55px;
  }
}

/* iPad  */
@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 60%;
    margin-left: 10px;
  }
  #navbarNav li a {
    font-size: 3.3vw;
  }
}

/* Pixel2 */
@media screen and (max-width: 411px) {
  * {
    font-size: 1rem;
  }
  .navbar-brand {
    width: 50%;
    margin-left: 1px;
  }
  #navbarNav li a {
    font-size: 3.3vw;
  }
  .portfolio-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer {
    padding-top: 20px;
  }
}
